<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierres Sales Platform</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>

  <div class="jumbotron">
    <h1 class="display-4">Pierres Sales Platform</h1>
    <p class="lead">Where Pierre grows his business by managing vendor accounts and tracking his orders</p>
    <hr class="my-4">
    <p class="lead">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/vendors">Vendors <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/vendors/all/orders/1">All Orders <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/vendors/all/orders/2">Unfulfilled Orders <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/vendors/all/orders/3">Unpaid Orders <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    </p>
  </div>


    

    @RenderBody()
  </body>
</html>
